// Styling for the call to action section
section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url('../img/waant-coming-soon.jpg');
    background-position: center;
    @include background-contain;
    margin: 0 auto;
    background-repeat: no-repeat;
}
