// Styling for the call to action section
section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url('../img/WAANT-temp-home.jpg');
    background-position: center;
    @include background-cover;
    height: 100%;
}
